A3Job/statemachine/A3JobMainSFN.json
{
  "Comment": "State Machine for job",
  "StartAt": "VerifyInput",
  "States": {
    "VerifyInput": {
      "Type": "Choice",
      "Choices": [
        {
          "And": [
            {
              "Variable": "$.iteration_count",
              "IsPresent": true
            },
            {
              "Variable": "$.iteration_count",
              "IsNumeric": true
            }
          ],
          "Next": "InsertJobStatsForInstance"
        }
      ],
      "Default": "GenerateDefaultInput"
    },
    "GenerateDefaultInput": {
      "Type": "Pass",
      "Parameters": {
        "iteration_count": 1
      },
      "Next": "InsertJobStatsForInstance"
    },
    "InsertJobStatsForInstance": {
      "Type": "Task",
      "TimeoutSeconds": 300,
      "Resource": "arn:aws:states:::dynamodb:putItem",
      "Parameters": {
        "TableName": "JobStats",
        "Item": {
          "Id": {
            "S.$": "$$.Execution.Id"
          },
          "JobId": {
            "S.$": "$$.Execution.Id"
          },
          "Status": {
            "S": "Started"
          },
          "StartTime": {
            "S.$": "$$.Execution.StartTime"
          },
          "EndTime": {
            "S": ""
          },
          "TotalDocsProcessed": {
            "N": "0"
          },
          "TotalDocsQueried": {
            "N": "0"
          },
          "IterationCount": {
            "N.$": "States.Format('{}',$.iteration_count)"
          }
        }
      },
      "ResultPath": null,
      "Retry": [
        {
          "ErrorEquals": [
            "States.ALL"
          ],
          "MaxAttempts": 15,
          "BackoffRate": 2
        }
      ],
      "Next": "InitializeNamespacesList"
    },
    "InitializeNamespacesList": {
      "Type": "Task",
      "Resource": "arn:aws:states:::lambda:invoke",
      "Parameters": {
        "FunctionName": "arn:aws:lambda:us-east-1:112757862110:function:InitializeNamespaceList",
        "Payload": {
          "iteration_count.$": "$.iteration_count"
        }
      },
      "TimeoutSeconds": 300,
      "Retry": [
        {
          "ErrorEquals": [
            "Lambda.ServiceException",
            "Lambda.AWSLambdaException",
            "Lambda.SdkClientException"
          ],
          "IntervalSeconds": 2,
          "MaxAttempts": 6,
          "BackoffRate": 2
        }
      ],
      "ResultSelector": {
        "namespaces.$": "$.Payload.namespace_list"
      },
      "ResultPath": "$.namespace_list_to_query_output",
      "Next": "QueryNamespaces"
    },
    "QueryNamespaces": {
      "Type": "Map",
      "ItemsPath": "$.namespace_list_to_query_output.namespaces",
      "ResultPath": "$.namespaces_query_output",
      "Parameters": {
        "namespace.$": "$$.Map.Item.Value"
      },
      "Iterator": {
        "StartAt": "BuildQueryBatches",
        "States": {
          "BuildQueryBatches": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "OutputPath": "$.Payload",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:us-east-1:112757862110:function:A3BuildQueryBatches"
            },
            "TimeoutSeconds": 300,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "Next": "RunQuery"
          },
          "RunQuery": {
            "Type": "Map",
            "ItemsPath": "$.batch_index",
            "Parameters": {
              "total_docs_in_namespace.$": "$.total_docs_in_namespace",
              "max_parallel_executions.$": "$.max_parallel_executions",
              "batch_index.$": "$$.Map.Item.Value",
              "batch_size": 500
            },
            "ResultPath": "$.run_query_output",
            "Next": "CalculateTotalOfQueriedDocsInNamespace",
            "Iterator": {
              "StartAt": "QueryNamespace",
              "States": {
                "QueryNamespace": {
                  "Type": "Task",
                  "Resource": "arn:aws:states:::lambda:invoke",
                  "Parameters": {
                    "Payload.$": "$",
                    "FunctionName": "arn:aws:lambda:us-east-1:112757862110:function:QueryNamespace"
                  },
                  "ResultSelector": {
                    "total_docs_queried.$": "$.Payload.total_docs_queried",
                    "query_from_index.$": "$.Payload.query_from_index"
                  },
                  "ResultPath": "$.namespace_query_output",
                  "TimeoutSeconds": 300,
                  "Retry": [
                    {
                      "ErrorEquals": [
                        "Lambda.ServiceException",
                        "Lambda.AWSLambdaException",
                        "Lambda.SdkClientException"
                      ],
                      "IntervalSeconds": 2,
                      "MaxAttempts": 6,
                      "BackoffRate": 2
                    }
                  ],
                  "Next": "ContinueQueryingNamespace"
                },
                "ContinueQueryingNamespace": {
                  "Type": "Choice",
                  "Choices": [
                    {
                      "Comment": "Check if we need to continue querying namespace if we haven't reached the total docs",
                      "Variable": "$.namespace_query_output.query_from_index",
                      "NumericLessThanPath": "$.total_docs_in_namespace",
                      "Next": "QueryNamespace"
                    }
                  ],
                  "Default": "PassTotalNumberOfDocsQueried"
                },
                "PassTotalNumberOfDocsQueried": {
                  "Type": "Pass",
                  "OutputPath": "$.namespace_query_output.total_docs_queried",
                  "End": true
                }
              }
            }
          },
          "CalculateTotalOfQueriedDocsInNamespace": {
            "Type": "Task",
            "Resource": "arn:aws:states:::lambda:invoke",
            "Parameters": {
              "Payload.$": "$",
              "FunctionName": "arn:aws:lambda:us-east-2:066717673947:function:SumOneNamespace:$LATEST"
            },
            "TimeoutSeconds": 300,
            "Retry": [
              {
                "ErrorEquals": [
                  "Lambda.ServiceException",
                  "Lambda.AWSLambdaException",
                  "Lambda.SdkClientException"
                ],
                "IntervalSeconds": 2,
                "MaxAttempts": 6,
                "BackoffRate": 2
              }
            ],
            "End": true
          }
        }
      },
      "End": true
    }
  }
}