example/call_center_example/statemachine/CallCenterStateMachine.json
{
  "Comment": "A simple AWS Step Functions state machine that automates a call center support session.",
  "StartAt": "Open Case",
  "States": {
    "Open Case": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:112757862110:function:OpenCaseFunction",
      "Next": "Assign Case"
    },
    "Assign Case": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:112757862110:function:AssignCaseFunction",
      "Next": "Work on Case"
    },
    "Work on Case": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:112757862110:function:WorkOnCaseFunction",
      "Next": "Is Case Resolved"
    },
    "Is Case Resolved": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.status",
          "NumericEquals": 1,
          "Next": "Close Case"
        },
        {
          "Variable": "$.status",
          "NumericEquals": 0,
          "Next": "Escalate Case"
        }
      ]
    },
    "Close Case": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:112757862110:function:CloseCaseFunction",
      "End": true
    },
    "Escalate Case": {
      "Type": "Task",
      "Resource": "arn:aws:lambda:us-east-1:112757862110:function:EscalateCaseFunction",
      "Next": "Fail"
    },
    "Fail": {
      "Type": "Fail",
      "Cause": "Engage Tier 2 Support."
    }
  }
}